In [20]:
import pymongo

In [21]:
ashwin = pymongo.MongoClient("mongodb://ashwin08:ronaldo07@cluster0-shard-00-00.3t0dn.mongodb.net:27017,cluster0-shard-00-01.3t0dn.mongodb.net:27017,cluster0-shard-00-02.3t0dn.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-xacbry-shard-0&authSource=admin&retryWrites=true&w=majority")

In [22]:
print(ashwin.list_database_names())

['companies', 'institution', 'ronaldo', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'task2', 'admin', 'local']

In [38]:
# Create operation

In [39]:
db = ashwin['task2']

In [40]:
col = db['tele_directory']

In [41]:
# Inserting one record

In [33]:
col.insert_one({'Name':'Ashwin','Phone_Number':9786542312,'Place':'Ooty'})

In [34]:
print(db.list_collection_names())

['tele_directory']

In [ ]:
# Inserting multiple records

In [36]:
col.insert_many([{'Name':'Antony','Phone_Number':9833652312,'Place':'Tirunelveli'},{'Name':'Manoj','Phone_Number':7860542912,'Place':'Coimbatore'},{'Name':'Nilavan','Phone_Number':7786542344,'Place':'Namakkal'},{'Name':'Ragulan','Phone_Number':9943742312,'Place':'Dharapuram'}])

In [ ]:
# Read all values from the collection Tele_directory

In [37]:
for i in col.find():
  print(i)

{'_id': ObjectId('6220f8dd11b07fc6df2f107b'), 'Name': 'Ashwin', 'Phone_Number': 9786542312, 'Place': 'Ooty'}
{'_id': ObjectId('6220f9be11b07fc6df2f107c'), 'Name': 'Antony', 'Phone_Number': 9833652312, 'Place': 'Tirunelveli'}
{'_id': ObjectId('6220f9be11b07fc6df2f107d'), 'Name': 'Manoj', 'Phone_Number': 7860542912, 'Place': 'Coimbatore'}
{'_id': ObjectId('6220f9be11b07fc6df2f107e'), 'Name': 'Nilavan', 'Phone_Number': 7786542344, 'Place': 'Namakkal'}
{'_id': ObjectId('6220f9be11b07fc6df2f107f'), 'Name': 'Ragulan', 'Phone_Number': 9943742312, 'Place': 'Dharapuram'}

In [42]:
# Read only specific features

In [43]:
for i in col.find({},{'_id':0,'Name':1,'Phone_Number':1}):
  print(i)

{'Name': 'Ashwin', 'Phone_Number': 9786542312}
{'Name': 'Antony', 'Phone_Number': 9833652312}
{'Name': 'Manoj', 'Phone_Number': 7860542912}
{'Name': 'Nilavan', 'Phone_Number': 7786542344}
{'Name': 'Ragulan', 'Phone_Number': 9943742312}

In [44]:
# Update operation using update_one({condition},{modification})

In [46]:
col.update_one({'Name':'Ragulan'},{'$set':{'Place':'Udumalpet'}})

In [47]:
for i in col.find({},{'_id':0}):  #Place is updated to Udumalpet
  print(i)

{'Name': 'Ashwin', 'Phone_Number': 9786542312, 'Place': 'Ooty'}
{'Name': 'Antony', 'Phone_Number': 9833652312, 'Place': 'Tirunelveli'}
{'Name': 'Manoj', 'Phone_Number': 7860542912, 'Place': 'Coimbatore'}
{'Name': 'Nilavan', 'Phone_Number': 7786542344, 'Place': 'Namakkal'}
{'Name': 'Ragulan', 'Phone_Number': 9943742312, 'Place': 'Udumalpet'}

In [48]:
# Delete operation using delete_one({condition})

In [49]:
col.delete_one({'Name':'Manoj'})

In [50]:
for i in col.find({},{'_id':0}):  #Manoj row is deleted from collection
  print(i)

{'Name': 'Ashwin', 'Phone_Number': 9786542312, 'Place': 'Ooty'}
{'Name': 'Antony', 'Phone_Number': 9833652312, 'Place': 'Tirunelveli'}
{'Name': 'Nilavan', 'Phone_Number': 7786542344, 'Place': 'Namakkal'}
{'Name': 'Ragulan', 'Phone_Number': 9943742312, 'Place': 'Udumalpet'}